button {
  width: 85%;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 15px;
  font-weight: 900;
  padding: 1em 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: none;
  margin: 0.25rem 0;
}

.outlined {
  background: hsl(245, 75%, 52%);
  color: white;
  -webkit-box-shadow: 0px 21px 41px -11px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 21px 41px -11px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 21px 41px -11px rgba(0, 0, 0, 0.5);
}

.outlined:hover {
  background: rgb(39, 22, 226);
}

.flat {
  color: rgb(122, 126, 148);
}

.flat:hover {
  color: rgb(88, 91, 107);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
