.card {
  max-width: 330px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 53px 46px -11px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 53px 46px -11px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 53px 46px -11px rgba(0, 0, 0, 0.4);
}

h1 {
  font-weight: 900;
  font-size: 1.6em;
  color: hsl(223, 47%, 23%);
}

p {
  max-width: 80%;
}
